* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrains Mono Nerd Font", "Fira Code", monospace;
    transition: all 0.3s ease-in-out;
}

window {
    background-color: rgba(10, 10, 10, 0.9); /* Mesma transparência do Wofi/Waybar */
}

button {
    color: #e0e0e0;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: rgba(255, 68, 68, 0.2);
    border: 1px solid #ff4444;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 68, 68, 0.3);
}

/* Ícones */
#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
